.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    box-shadow: 0 4px 8px 0 rgb(247, 133, 237) ;
}

.navbar-toggler{
    outline: none;
    border: none;
    color:rgb(211, 4, 194) ;
}

.navbar-toggler-icon{
    outline: none;
    border: none;
    color:rgb(211, 4, 194) ;
}

.nav-item .nav-link:hover{
    color: #fff;
    text-decoration: underline;
    text-decoration-color:rgb(211, 4, 194) ;
}


.navbar-brand {
    font-size: 1.5rem;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}


@media (max-width: 600px) {
    .navbar {
        justify-content: flex-end;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: #333;
        padding: 1rem;
        border-radius: 8px;
    }

    .nav-links li {
        padding: 0.5rem 0;
        width: 100%;
        text-align: left;
    }
}
