.project {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
  }

  .project-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
}

.project-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 8px;
}

.project-links {
    margin-top: 8px;
}

.project-links a {
    margin: 0 8px;
    text-decoration: none;
    color: rgb(211, 4, 194);

}


  

  .projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: 600px)and (max-width: 1500px){
    .projects-list{
      position: relative;
      top:3rem
    }
  }