 body{
  background-color: #242323;
 }
 
 .about-container{
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
 position: relative;
 top: 3rem;
 
} 


.container-fluid{
  position: relative;
  left: 9.4rem;
}

.navbar-brand{
 margin-right: 22rem;

} 

.view-cv{
  outline: none;
  background-color: transparent;
  border-color: rgb(211, 4, 194) ;
  color: white;
  border-radius: 15px;
  width: 110px;
}

.view-cv:hover{
  background-color:rgb(211, 4, 194) ;
}

.highlight1{
  color: white;
}


.highlight{
  color: rgb(211, 4, 194);
}

img{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  right: 5rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
   filter: drop-shadow(0.5px 0.5px 5px rgb(211, 4, 194));
}
.socials{
  display: flex;
}

.socials i{
  padding: 5px;
  color: rgb(211, 4, 194) ;
  
}

.socials i:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

@keyframes pulse {
  0%, 100% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  }
  50% {
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.socials i:hover {
  animation: pulse 0.6s infinite alternate;
}
.nav-item .nav-link{
 color: rgb(211, 4, 194) ; 
  
}

.nav-item{
  text-decoration: none;
  text-decoration-line: none;
}

.nav-item .nav-link:hover{
  color: white;
}

.parent {
  margin: auto;
  padding: 20px;
  position: relative;
  top: 6rem;
  width: 100%;
  height: 470px;
  box-shadow: 8px 0 12px rgba(0, 0, 0, 0.2);
  box-shadow: -5px 0 -12px rgb(211, 4, 194);
  background-color: #242323;
}



